<footer id="footer" class="site-footer">
  <div id="footer-wrapper" class="wrapper spacer">
    {% include site-logo.html %}
    <p id="footer-text">{{ site.footer_text }}</p>
    <div id="footer-social" class="social-icon">
      <div class="menu-social-links-container">
        <ul id="footer-social-menu" class="social-links">
          {% for item in site.data.navigation_menus.social_menu %}
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="{{ item.url }}"><p>{{ item.title }}</p></a>
          </li>
          {% endfor %}
        </ul>
      </div>    
    </div>
    <div id="footer-menus">
      <div class="footer-menu">
        <h2 class="footer-menu-title">{{ site.data.navigation_menus.footer_menu_one_title }}</h2>
        <div class="menu-about-us-container">
          <ul id="footer-menu-one" class="footer-menu">
            {% for item in site.data.navigation_menus.footer_menu_one %}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>    
      </div>
      <div class="footer-menu">
        <h2 class="footer-menu-title">{{ site.data.navigation_menus.footer_menu_two_title }}</h2>
        <div class="menu-about-us-container">
          <ul id="footer-menu-two" class="footer-menu">
            {% for item in site.data.navigation_menus.footer_menu_two %}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>    
      </div>
      <div class="footer-menu">
        <h2 class="footer-menu-title">{{ site.data.navigation_menus.footer_menu_three_title }}</h2>
        <div class="menu-about-us-container">
          <ul id="footer-menu-two" class="footer-menu">
            {% for item in site.data.navigation_menus.footer_menu_three %}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>    
      </div>
      <div class="footer-menu">
        <h2 class="footer-menu-title">{{ site.data.navigation_menus.footer_menu_four_title }}</h2>
        <div class="menu-about-us-container">
          <ul id="footer-menu-two" class="footer-menu">
            {% for item in site.data.navigation_menus.footer_menu_four %}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>    
      </div>
    </div>
    <p id="footer-address">{{ site.footer_address }}</p>
  </div>               
</footer>