<div class="wp-block-group alignfull hero-section has-white-color has-text-color has-background" style="background-color:#642580">
  <div class="wp-block-group__inner-container">
    <h1 class="alignwide has-text-align-center">{{ page.title }}</h1>
    <p class="has-text-align-center"></p>
    <div class="wp-block-columns alignwide">
      <div class="wp-block-column">
        <figure class="wp-block-image size-large"><img loading="lazy" width="560" height="373" src="{{ page.hero_image_1 }}" alt="" class="wp-image-770" sizes="(max-width: 560px) 100vw, 560px"><figcaption>CoderDojo NYC, USA<br></figcaption></figure>
      </div>
      <div class="wp-block-column">
        <figure class="wp-block-image size-large"><img loading="lazy" width="560" height="373" src="{{ page.hero_image_2 }}" alt="" class="wp-image-753" sizes="(max-width: 560px) 100vw, 560px"><figcaption>What is CoderDojo?</figcaption></figure>
      </div>
      <div class="wp-block-column">
        <figure class="wp-block-image size-large"><img loading="lazy" width="560" height="373" src="{{ page.hero_image_3 }}" alt="" class="wp-image-771" sizes="(max-width: 560px) 100vw, 560px"><figcaption>CoderDojo Nürnberg, Germany</figcaption></figure>
      </div>
    </div>
  </div>
</div>