<a class="site-logo custom-logo-link" href="{{ "/" | relative_url }}">
  <img class="site-icon custom-logo"  src="../assets/images/site-icon.png" alt="Site Icon" />
  <h1 id="site-title" class="custom-logo-title">{{ site.title | escape }}</h1>
</a>