<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include hero.html %}
    <main id="main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>