---
layout: page
---

{{ content }} 

<aside>
  <div id="user-profiles" class="alignwide">
    {% for volunteer in site.volunteers %}
      <button id="<?php echo $user->ID ?>" onClick="user_button_click(this.id)" class="user-profile">
        <img class="user-image" src="{{ site.baseurl }}/assets/images/mentors/{{ volunteer.profile }}" />
        <div class="user-content">
          <h3>{{ volunteer.name }}</h3>
          <h4>{{ volunteer.position }}</h4>
        </div>
      </button>
      <div id="modal-<?php echo $user->ID ?>" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button id="span-<?php echo $user->ID ?>" type="button" class="close" onClick="close_span_click(this.id)" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h2>{{ volunteer.name }} - {{ volunteer.position }}</h2>
          </div>
          <div class="modal-body">
            <img class="user-image" src="{{ site.baseurl }}/assets/images/mentors/{{ volunteer.profile }}" />
            <p>{{ volunteer.content | markdownify }}</p>
          </div>
          <div class="modal-footer">
            <ul class="user-links social-links">
                
            </ul>
            <button id="button-<?php echo $user->ID ?>" type="button" class="btn btn-default" onClick="close_button_click(this.id)" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
</aside>