---
layout: default
---

<div class="wp-block-group alignfull has-background">
  <div class="wp-block-group__inner-container">
    {{ content }} 
  </div>
</div>
    
<div class="wp-block-group alignfull has-background" style="background-color:#f4f4f4">
  <div class="wp-block-group__inner-container">
    <h2 class="has-text-align-center" style="text-align:center;">Did You Know?</h2>
    <h3 class="has-text-align-center" style="text-align:center;">CoderDojo Kinsale is volunteer lead</h3>
    <p class="has-text-align-center"></p>
    <div class="wp-block-columns alignwide">
      <div class="wp-block-column card">
        <figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="538" src="https://coderdojokinsale.com/wp-content/uploads/2021/03/pixel-logo-1024x538.png" alt="" class="wp-image-4138" srcset="https://coderdojokinsale.com/wp-content/uploads/2021/03/pixel-logo-1024x538.png 1024w, https://coderdojokinsale.com/wp-content/uploads/2021/03/pixel-logo-300x158.png 300w, https://coderdojokinsale.com/wp-content/uploads/2021/03/pixel-logo-768x404.png 768w, https://coderdojokinsale.com/wp-content/uploads/2021/03/pixel-logo.png 1075w" sizes="(max-width: 1024px) 100vw, 1024px"></figure>
        <p class="has-text-align-center has-black-color has-text-color">CoderDojo Kinsale is one of the oldest Dojos in the world.</p>
      </div>
      <div class="wp-block-column card">
        <figure class="wp-block-image size-large"><img src="https://coderdojokinsale.com/wp-content/uploads/2021/03/nanonaught-painting-1024x538.png" alt="" class="wp-image-4152"></figure>
        <p class="has-text-align-center has-black-color has-text-color">You don’t have to have any experience to join.</p>
      </div>
      <div class="wp-block-column card">
        <figure class="wp-block-image size-large"><img src="https://coderdojokinsale.com/wp-content/uploads/2021/03/nanonaught-cowboy-1024x538.png" alt="" class="wp-image-4132"></figure>
        <p class="has-text-align-center has-black-color has-text-color">Ninjas learn from each other and it is a great way to make friends.</p>
      </div>
    </div>
  </div>
</div>